@model LiveViewModel
@{
    ViewData["Title"] = "Live Data";
}

@section scripts
{
    <script type="text/javascript" src="~/js/chart.js"></script>
    <script type="text/javascript" src="~/js/Live/ChartLoader.js"></script>
}

<div id="chart-container">
</div>

<script>
    const charts = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ChartsToShow));
</script>