@Model LiveViewModel
@{
    ViewData["Title"] = "Live Temperature";
}

@section scripts
{
    <script type="text/javascript" src="~/js/chart.js"></script>
    <script type="text/javascript" src="~/js/Live/Temperature.js"></script>
}

<div class="chart-container">  
    <canvas id="temperatureChart" style="width:80%"></canvas>  
</div>

<script type="text/javascript">

</script>