@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p style="text-align: center;">
    <h1>An unexpected Error Occurred</h1>
    <p style="text-align: left;">
        <span style="font-size: 1rem;">
            We are committed in providing with better software. What we would like
            for you to do is it describe in the following textbox what where you 
            doing right before ending up here and then pressing the submit button.
        </span>
    </p>
</p>
<p>
    <strong>Note</strong>: We do not track Request IDs. Including them will not help.
</p>

<br />
<br />

<div class="container">
    <div class="row">
        <textarea id="errorTextArea"class="form-control col-12" placeholder="Please describe how you got here..."></textarea>
    </div>
    <br />
    <div class="row">
        <button class="btn btn-primary col-12" onclick="SubmitErrorForm()">Submit</button>
    </div>
</div>

<script>
    async function SubmitErrorForm()
    {
        var settings = {
            "url": "../api/errorapi",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },
            "data": {
                "AuthenticationID": "",
                "RequestID": "",
                "RequestData": document.getElementById('errorTextArea').value 
            }
        };

        const response = await GetData(settings, true);
        if (response == true)
            location.href = '/Home/Pages/Index';
    }
</script>