@model AdminViewModel
@{
    ViewData["Title"] = "Admin Page";
}

@section scripts
{
    <script type="text/javascript" src="~/js/Admin/Admin.js"></script>
    <script>const authenticationKey = "@Model.AuthenticationKey"; </script>
}

<div id="pages">
    <div id="Index-Page">
        <div class="text-center">
            <h1 class="display-4">Welcome to Admin Panel of the Orion Live Server</h1>
        </div>
    </div>
    <div id="Authentication-Page">
        <div class="text-center">
            <h1 class="display-4">Orion Authentication Page</h1>
        </div>
        <div class="text-center">
            <button id="reloadAuthenticationKeys" class="btn btn-primary" style="top-padding: 5vh; bottom-padding: 5vh; width: 100%">Reload</button>
        </div>
        <div id="authenticationKeysTable"></div>
    </div>
</div>