@{
    ViewData["Title"] = "Log In Page";
}

@section scripts
{
    <script type="text/javascript" src="~/js/Admin/LogIn.js"></script>
}

<div class="text-center">
    <div class="input-group mb-3">
        <input id="logInInput" class="form-control" type="password" autocomplete="off" placeholder="Authentication Key" autofocus />
        <div class="input-group-append">
            <button id="logInBtn" class="btn btn-primary">Log In</button>
        </div>
    </div>
</div>
